.HomePage-container {
    background-color: var(--primary);
    display: flex;
}

.HomePage-container > div {
    flex: 1;
}

.HomePage-divider {
    width: 12px;
    background-color:white;
    align-self: center;
}

.bg-gray-500 {
    width: 2px;
}